name: wp-deploy

on: 
  push:
    branches:
      - master
jobs:
  build:

    runs-on: ubuntu-latest



    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: setup files
      run: |
        npm install
        gulp build  
    - name: Deploy
      uses: "jovrtn/github-action-wpengine-git-deploy@0.1.2"
      env: 
        WPENGINE_ENVIRONMENT_NAME: ""
        secrets: [
          "{{publicKey}}",
          "{{privateKey}}"
        ]
        CI: true
