name: wp-deploy

on: 
  push:
    branches:
      - master
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: setup files
      run: |
        npm install
        gulp build
      env:
        CI: true     
    
    - uses: jovrtn/github-action-wpengine-git-deploy@0.1.2
    - name: GitHub Action for WP Engine Git Deployment
    
